CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
include/bert/config.h
bert_dump
test/Testing
test/CTestTestfile.cmake
test/test_decode_small_int
test/test_decode_big_int
test/test_decode_float
test/test_decode_atom
test/test_decode_string
test/test_decode_long_string
test/test_decode_bin
*.a
*.so
*.swp
*~
