CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
libBERT.pc
include/bert/config.h
bert_dump
test/Testing
test/CTestTestfile.cmake
test/test_decode_small_int
test/test_decode_big_int
test/test_decode_float
test/test_decode_atom
test/test_decode_string
test/test_decode_long_string
test/test_decode_bin
test/test_decode_long_bin
test/test_decode_small_tuple
test/test_decode_large_tuple
test/test_decode_list
test/test_decode_dict
test/test_decode_true
test/test_decode_false
test/test_decode_nil
test/test_decode_regex
test/test_encode_short
test/test_encode_magic
test/test_encode_small_int
test/test_encode_int
test/test_encode_atom
test/test_encode_string
test/test_encode_bin
test/test_encode_small_tuple
test/test_encode_big_tuple
*.a
*.so
*.swp
*~
